@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1677ff;

    &:hover {
        color: #69a7fe;
    }
}

header {
    color: #1d1d22;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 50px 30px;
}

.container {
    max-width: 1140px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

input:focus {
    outline: none;
}

.generate-password {
    // background-color: #1d1d22;
    color: #1d1d22;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 100px 0px;
    text-align: center;

    h1 {
        font-size: 30px;
    }

    p {
        padding-bottom: 50px;
    }

    .input-range {
        justify-content: center;
        display: grid;
        align-items: center;

        label {
            text-align: center;
        }

        input {
            width: 520px;
            padding: 50px 0px;
        }
    }

    .input-password {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 800px;
        border: 1px solid #eee;
        margin: 0 auto;
        padding: 0 20px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px #0000000F;
        // border-bottom: 3px solid rgb(84, 182, 0);

        .input-text {
            color: #2a2a33;
            position: relative;
            padding: 0 20px;
            width: 100%;
            height: 70px;
            font-size: 25px;
            border-radius: 15px;
            border: none;
        }

        .button-transparent {
            position: relative;
            cursor: pointer;
        }

        .button {
            background-color: transparent;
            position: relative;
            padding: 17px 15px;
            border: none;
            cursor: pointer;

            img {
                width: 30px;
            }
        }
    }

    label {
        user-select: none;
        font-size: 25px;
    }

    .char-checkbox {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 70px;
    }

}

.about {
    background-color: aliceblue;
    color: #000;
    padding: 100px 120px;

    h1 {
        font-size: 45px;
        text-align: center;
        padding-bottom: 50px;
    }

    .box-inclusive {
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            width: 350px;
            padding: 0px 20px;

            h2 {
                font-size: 25px;
                padding-bottom: 10px;
            }

            img {
                width: 30px;
                padding-bottom: 10px;
            }
        }
    }
}

.contact {
    // display: flex;
    text-align: center;
    justify-content: center;
    // -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 100px 0px;
}

footer {
    background-color: aliceblue;
    color: #1d1d22;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 80px 0px;
}