@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1677ff;

    &:hover {
        color: #69a7fe;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

header {
    color: #1d1d22;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 50px 30px;
}

.container {
    max-width: 1140px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

input:focus {
    outline: none;
}

.generate-password {
    color: #1d1d22;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 100px 0px;
    text-align: center;

    .sync-button {
        height: 70px;
        width: 85px;
        position: relative;
        left: 20px;
    }

    p {
        padding-bottom: 50px;
    }

    .input-range {
        justify-content: center;
        display: grid;
        align-items: center;

        label {
            text-align: center;
        }

        .slider {
            width: 400px;
        }

        input {
            width: 520px;
            padding: 50px 0px;
        }
    }

    .input-password {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 800px;
        border: 1px solid #eee;
        margin: 0 auto;
        padding: 0 20px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px #0000000F;

        .input-text {
            color: #2a2a33;
            position: relative;
            padding: 0 20px;
            width: 100%;
            height: 70px;
            font-size: 25px;
            border-radius: 15px;
            border: none;
        }

        .button-transparent {
            position: relative;
            cursor: pointer;
        }

        .button {
            background-color: transparent;
            position: relative;
            padding: 17px 15px;
            border: none;
            cursor: pointer;

            img {
                width: 30px;
            }
        }
    }

    label {
        user-select: none;
        font-size: 25px;
    }

    .char-checkbox {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 70px;
    }

}

.about {
    background-color: aliceblue;
    color: #000;
    padding: 100px 120px;

    .about-row {
        padding-top: 40px;
    }

    .box-inclusive {
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            width: 350px;
            padding: 0px 20px;

            img {
                width: 30px;
                padding-bottom: 10px;
            }
        }
    }
}

.contact {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 100px 0px;

    p{
        margin-bottom: 50px;
    }

    .button-primary {
        margin-top: 20px;
        width: 260px;
        height: 55px;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        margin: 5px;
    }
}

footer {
    background-color: aliceblue;
    color: #1d1d22;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 80px 0px;
}

@media screen and (max-width: 740px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .generate-password {
        display: block;
        padding: 100px 10px;

        .char-checkbox {
            display: block;
        }

        .input-password {
            width: 90%;
        }

        .input-range {
            .slider {
                width: 350px;
            }
        }
    }

    .about {
        padding: 100px 10px;

        .about-col {
            padding: 8px;
        }
    }
}