@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    padding-top: 19px;
    font-size: 20px;
    font-weight: bold !important;
    color: #939393;
    margin-bottom: 0 !important;
}

h2 {
    font-size: 41px;
    font-weight: bold !important;
    line-height: 2.05;
    margin-bottom: 0 !important;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #939393;
}

h4 {
    font-size: 27px;
    font-weight: bold;
    color: #000;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: #939393;
}

h6 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.container {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 53px 0;
    font-size: 20px;
    z-index: 2;

    .logo {
        display: flex;
        align-items: center;

        .logo-first {
            font-size: 22px;
            font-weight: 800;
        }

        .logo-second {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.home-section {
    background-image: url("/assets/images/homepage/bg.png");
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    article {
        text-align: center;
        margin-bottom: 46px;
    }
}

.generate-password {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .strength {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 17px;
    }

    .length {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    .input-range {
        width: 400px;
    }

    .input-password {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 222px;

        input {
            width: 841px;
            height: 71px;
            font-size: 23px;
            font-weight: 500;
            border: 1px solid #eee;
            border-radius: 15px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background-color: #fff;
            padding-left: 43px;
        }

        svg {
            font-size: 21px;
        }

        .copy-button {
            position: absolute;
            height: 100%;
            right: 71px;
        }

        .sync-button {
            position: absolute;
            width: 67px;
            height: 100%;
            right: 0;
            border-radius: 0 15px 15px 0;
        }
    }

    .input-bg {
        position: absolute;
        background-image: url("/assets/images/input-bg.png");
        z-index: -1;
        top: 0;
        left: 0;
        width: 719px;
        height: 275.5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }

    .char-checkbox {
        display: flex;
        justify-content: center;
        margin-bottom: 51px;

        span {
            margin-right: 7px;
        }

        div:not(:last-child) {
            margin-right: 214px;
        }
    }

    .generate-button {
        width: 400px;
        height: 71px;
        font-size: 23px;
        font-weight: 500;
    }
}

.about-section {
    position: relative;
    width: 100%;
    height: 781px;
    padding: 100px 0;
    background-color: #f2f9ff;
    text-align: center;
    z-index: 0;

    .circle-left {
        position: absolute;
        left: -20px;
        top: -25px;
        z-index: -1;
    }

    .circle-right {
        position: absolute;
        right: -21px;
        bottom: -20px;
        z-index: -1;
    }
}

.faq-section {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background-color: #f9fcff;
    margin-bottom: 41px;

    article {
        text-align: center;
        margin-bottom: 100px;
    }
}

.chrome-ext-section {
    width: 100%;
    height: 641px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 41px;

    figure {
        position: relative;
    }

    h4 {
        color: #939393;
        padding-bottom: 27px;
    }

    p {
        padding-bottom: 15px;
        font-size: 18px;
        color: #939393;
    }

    .chrome-ext-logo {
        position: absolute;
        bottom: -70px;
        left: -80px;
    }
}

.black-button {
    cursor: pointer;
    width: 380px;
    height: 61px;
    padding: 17px 77px;
    border-radius: 9px;
    border: solid 1px #3e4347;
    background-color: #1c2227;
    color: #fff;

    &:hover {
        background-color: #333639 !important;
        color: #fff !important;
    }
}

.contact-section {
    width: 100%;
    height: 397px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #101418, #161a1e);
    overflow: hidden;

    article {
        margin-bottom: 55px;
    }

    h4 {
        color: #fff;
    }

    .circle {
        position: absolute;
        right: -60%;
        bottom: -40%;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 313px;
    border-top: solid 2px #53baf9;
    background-color: #f2f9ff;

    .logo {
        margin: 17px 0;
    }

    .text {
        margin-bottom: 67px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    svg {
        font-size: 25px;
        margin-bottom: 25px;
    }

    svg:not(last-child) {
        margin-right: 16px;
    }

    .copyright {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}

.next-error-h1 {
    padding-top: 0 !important;
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 28px;
        line-height: 1.5;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 16px;
    }

    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    header {
        padding: 20px 0;

        .logo {
            max-width: 70px;
        }

        nav {
            display: flex;
            flex-direction: column-reverse;
            color: #000;
        }
    }

    .home-section {
        padding: 50px 0;
        text-align: center;
        padding-top: 220px;
        height: unset;
        background-size: contain;

        .article {
            padding-top: 430px;
        }
    }

    .generate-password {

        .generate-button {
            width: 100%;
            height: 55px;
            font-size: 18px;
        }

        .input-password {
            width: 100%;
            margin-bottom: 150px;

            input {
                width: 100%;
                height: 55px;
                font-size: 18px;
                padding-left: 20px;

            }
        }

        .input-bg {
            width: 400px;
            height: 190px;
        }

        .char-checkbox {
            width: 100%;
            display: grid;
            justify-content: unset;
            margin-bottom: 11px;

            div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                &:not(:last-child) {
                    margin-right: unset;
                }

            }
        }

        .input-range {
            width: 100%;
        }
    }

    .about-section {
        height: auto;
        padding: 50px 20px;
        margin: 0;
    }

    .faq-section {
        padding: 50px 20px;
    }

    .chrome-ext-section {
        flex-direction: column;
        height: auto;
        padding: 50px 20px;
        text-align: center;

        figure {
            margin-bottom: 120px;
        }

        .chrome-ext-logo {
            left: -20px;
        }
    }

    .black-button {
        width: 100%;
        height: 55px;
        padding: 15px 0;
    }

    .contact-section {
        height: auto;
        padding: 50px 20px;

        .circle {
            position: absolute;
            right: 0;
            bottom: -71px;
        }
    }

    footer {
        height: auto;
        padding: 30px 20px;
        text-align: center;

        .copyright {
            flex-direction: column;
        }

        .container {
            padding-top: 150px;
        }
    }
}