@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'antd/dist/reset.css';

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #939393;
}

h2 {
    font-size: 41px;
    font-weight: bold !important;
    line-height: 2.05;
    margin: 0 !important;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    position: relative;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 53px 0px;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;

    .logo_first_title {
        font-weight: bold;
    }
}

.home-section {
    background-image: url("/images/homepage-bg.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    p{
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #939393;
    }
}