@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'antd/dist/reset.css';

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #939393;
}

h2 {
    font-size: 41px;
    font-weight: bold !important;
    line-height: 2.05;
    margin: 0 !important;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    position: relative;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 53px 0px;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;

    .logo_first_title {
        font-weight: bold;
    }
}

.home-section {
    background-image: url("/images/homepage-bg.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    article{
        text-align: center;
        
        p {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color: #939393;
        }
    }
}

.generate-password {
    width: 100%;
    color: #1d1d22;
    text-align: center;

    .copy-button {
        width: 400px;
        height: 71px;
        margin-top: 30px;
    }

    .sync-button {
        width: 70px;
        height: 100%;
        position: relative;
        border-radius: 0;
    }

    p {
        padding-bottom: 50px;
    }

    .input-range {
        justify-content: center;
        display: flex;
        margin: 10px 0;

        .slider {
            width: 400px;
        }

        b {
            margin: 5px;
            font-size: 18px;
        }
    }

    .input-password {
        justify-content: center;
        align-items: center;
        display: flex;
        background: #fff;
        border: 1px solid #eee;
        margin: 0 auto;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px #0000000F;
        width: 741px;
        height: 71px;
        margin-bottom: 80px;

        .input-text {
            color: #2a2a33;
            position: relative;
            font-size: 19px;
            border-radius: 15px;
            border: none;
        }
    }

    label {
        user-select: none;
        font-size: 18px;
    }

    .char-checkbox {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;

        div {
            margin-right: 20px;
        }
    }

    .strength {
        text-align: center;
        margin-top: 20px;

        img {
            margin-right: 5px;
        }
    }
}