@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'antd/dist/reset.css';

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

h1 {
    padding-top: 19px;
    font-size: 20px;
    font-weight: 500;
    color: #939393;
}

h2 {
    font-size: 41px;
    font-weight: bold !important;
    line-height: 2.05;
    margin: 0 !important;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #939393;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    position: relative;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 53px 0px;
    font-size: 20px;
    z-index: 2;

    .logo {
        display: flex;
        align-items: center;

        .logo-first {
            font-weight: 800;
        }
    }
}

.home-section {
    background-image: url("/images/homepage-bg.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    article {
        text-align: center;
        margin-bottom: 46px;
    }
}

.generate-password {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .strength {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 17px;
    }

    .length {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    .input-range {
        width: 400px;
    }

    .input-password {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 222px;

        input {
            width: 841px;
            height: 71px;
            font-size: 23px;
            font-weight: 500;
            border: 1px solid #eee;
            border-radius: 15px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background-color: #fff;
            padding-left: 43px;
        }

        svg {
            font-size: 21px;
        }

        .copy-button {
            position: absolute;
            height: 100%;
            right: 71px;
        }

        .sync-button {
            position: absolute;
            width: 67px;
            height: 100%;
            right: 0;
            border-radius: 0 15px 15px 0;
        }
    }

    .input-bg {
        position: absolute;
        background-image: url("/images/input-bg.png");
        z-index: -1;
        top: 0;
        left: 0;
        width: 719px;
        height: 275.5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }

    .char-checkbox {
        display: flex;
        justify-content: center;
        margin-bottom: 21px;

        span {
            margin-right: 7px;
        }
        
        div:not(:last-child) {
            margin-right: 214px;
        }
    }

    .generate-button {
        width: 400px;
        height: 71px;
        font-size: 23px;
        font-weight: 500;
    }
}